.forespørsler {
    margin-top: 1.5rem;
}

.forespørsler:global(.navds-panel) {
    border-radius: 0.25rem;
    padding: 2rem;
}

.delingstatistikk {
    display: grid;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
}

@media (min-width: 500px) {
    .delingstatistikk {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .delingstatistikk {
        grid-template-columns: repeat(4, 1fr);
    }
}
