.forespørsler {
    margin-top: 1.5rem;
}

@media (min-width: 500px) {
    .delingstatistikk {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .delingstatistikk {
        grid-template-columns: repeat(4, 1fr);
    }
}
