.statistikk {
    width: 100%;
}

.periodeForKontor {
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--a-spacing-8);
}

@media (min-width: 48rem) {
    .periodeForKontor {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
    }
}

.tidsperiode {
    align-items: center;
    grid-template-columns: 1fr 3fr;
    width: 30rem;
}

.tittel {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tall {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media (min-width: 500px) {
    .delingstatistikk {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .delingstatistikk {
        grid-template-columns: repeat(4, 1fr);
    }
}
