.statistikk {
    text-align: center;
    width: 100%;
}

.tidsperiode {
    margin-top: var(--navds-spacing-1);
    margin-bottom: var(--navds-spacing-6);
}

.tall {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.delingstatistikk {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 500px) {
    .delingstatistikk {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .delingstatistikk {
        grid-template-columns: repeat(4, 1fr);
    }
}
