.telling {
    padding: 2rem;
    border-radius: 0.25rem;
}

.tall {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: var(--navds-spacing-2);
}

.fattJobb {
    background-color: var(--navds-global-color-green-100);
}

.presentert {
    background-color: var(--navds-global-color-purple-100);
}
