.telling {
    padding: 2rem;
    border-radius: 0.25rem;

    &--fått-jobb {
        background-color: var(--navds-global-color-green-200);
    }

    &--presentert {
        background-color: var(--navds-global-color-purple-200);
    }
}
