.hurtiglenker {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    margin-bottom: 4rem;
}

.hurtiglenker__lenkepanel {
    border-color: var(--navds-semantic-color-border-inverted);
    margin-bottom: 0;
    padding: 1rem 2rem;
}

.hurtiglenker__lenkeinnhold {
    display: flex;
    align-items: center;
}

.hurtiglenker__lenkeikon {
    margin-right: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.hurtiglenker__lenkeikon img {
    width: 6.25rem;
    height: 6.25rem;
}

@media (min-width: 48rem) {
    .hurtiglenker {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
